---
Checks: >
    bugprone-*,
    cppcoreguidelines-*,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-macro-usage,
    modernize-*,
    performance-*,
    portability-*,
    readability-*,
    -readability-qualified-auto,
    -readability-braces-around-statements,
    -readability-redundant-access-specifiers,
    -readability-uppercase-literal-suffix,
    -readability-magic-numbers,
    -readability-named-parameter,
    -readability-function-cognitive-complexity,
    -modernize-use-trailing-return-type
CheckOptions:
  - { key: readability-identifier-naming.NamespaceCase,       value: lower_case }
  # - { key: readability-identifier-naming.ClassCase,           value: CamelCase  }
  # - { key: readability-identifier-naming.StructCase,          value: CamelCase  }
  # - { key: readability-identifier-naming.FunctionCase,        value: lower_case }
  # - { key: readability-identifier-naming.VariableCase,        value: lower_case }
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle:     none
