---
Checks: >
    bugprone-*,
    -bugprone-easily-swappable-parameters,
    -bugprone-exception-escape,
    -bugprone-unhandled-exception-at-new,
    -bugprone-implicit-widening-of-multiplication-result,
    cppcoreguidelines-*,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-macro-usage,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -cppcoreguidelines-avoid-do-while,
    modernize-*,
    performance-*,
    portability-*,
    readability-*,
    -readability-qualified-auto,
    -readability-braces-around-statements,
    -readability-redundant-access-specifiers,
    -readability-uppercase-literal-suffix,
    -readability-magic-numbers,
    -readability-named-parameter,
    -readability-function-cognitive-complexity,
    -readability-identifier-length,
    -readability-implicit-bool-conversion,
    -readability-else-after-return,
    -modernize-use-trailing-return-type
CheckOptions:
  - { key: readability-identifier-naming.NamespaceCase,       value: lower_case }
  # - { key: readability-identifier-naming.ClassCase,           value: CamelCase  }
  # - { key: readability-identifier-naming.StructCase,          value: CamelCase  }
  # - { key: readability-identifier-naming.FunctionCase,        value: lower_case }
  # - { key: readability-identifier-naming.VariableCase,        value: lower_case }
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle:     none
